streamlit
numpy
pandas
joblib
rdkit
selfies
transformers
# torch BURADAN SİLİNDİ, DOCKERFILE'DA HALLEDECEĞİZ
stmol
py3Dmol
pubchempy
deap
fpdf
plotly
google-generativeai
scikit-learn
requests
datasets
xgboost
lightgbm
ipython_genutils
